@model Agenda_Compromissos.Models.Compromisso

@{
    ViewData["Title"] = "Excluir";
}

<link rel="stylesheet" href="~/css/exclusao.css" asp-append-version="true" />

<h1 class="agenda-title">Excluir Compromisso</h1><br />

<p>Tem certeza de que deseja excluir isso?</p>

<div class="container details-container">
    <h4 class="font-weight-bold">Detalhes do Compromisso</h4>
    <hr />
    <dl class="row">
        <div class="col-sm-12">
            <dt>
                <Label>Data e Hora</Label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataCompromisso)
            </dd>
            <dt>
                <Label>Endereço</Label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>
            <dt>
                <Label>Participantes</Label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Participantes)
            </dd>
            <dt>
                <Label>Descrição</Label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger btn-equal">Confirmar</button>
        <a class="btn btn-secondary btn-equal" asp-action="Index">Voltar</a>
    </form>
</div>