body {
    background-color: #9aede5;
}

h1 {
    text-align: left;
    font-size: 30px;
}

.container {
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label.font-weight-bold {
        font-weight: bold;
    }

.btn-primary,
.btn-danger,
.btn-success,
.btn-secondary,
.btn-info {
    color: white; 
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        background-color: #bb2d3b;
        border-color: #bb2d3b;
    }

.btn-equal {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.details-container dt,
.details-container dd {
    clear: both;
    margin-bottom: 10px;
}
