@{
    ViewData["Title"] = "Sobre";
}

<link rel="stylesheet" href="~/Agenda_Compromissos.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/sobre.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>

<div>
    <p>
        Bem-vindo à nossa Agenda de Compromissos Virtual! Esta aplicação foi desenvolvida para fornecer uma solução fácil e eficiente para gerenciar seus compromissos diários.
    </p>

    <p>
        Recursos:
    </p>
    <ul>
        <li>Visualize todos os seus eventos em um único lugar.</li>
        <li>Adicione novos compromissos facilmente.</li>
        <li>Exclua compromissos que não são mais relevantes.</li>
    </ul>

    <p>
        Esperamos que a nossa aplicação torne a organização da sua agenda mais simples e eficaz. Sinta-se à vontade para explorar todas as funcionalidades e aproveitar ao máximo a nossa Agenda de Compromissos Virtual!
    </p>

    <div class="text-center">
        <a class="btn btn-secondary btn-equal" asp-action="Index" asp-controller="Login">Login</a>
    </div>
</div>




